.galleryDiv {
    width: 100vw;
    box-sizing: border-box;
    background-color: darkgrey;
}

.header {
    margin-top: 1rem;
    font-size: 2.5rem;
}

.imageGallery {
    box-sizing: border-box;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    padding-top: 0rem;
}

.img {
    width: 100%;
}

@media (max-width: 600px) {
    .img {
        flex: 1 1 100%;
        /* Full width on small screens */
    }
}