@font-face {
    font-family: "Baskervville";
    src: local("BaskervvilleSC-Regular"),
    url("../../assets/fonts/BaskervvilleSC-Regular.ttf") format("truetype");
}

.newsletterDiv {
    background-color: #23395d;
    height: 40vh;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
}

.heading {
    font-size: 2.5rem;
    color: white;

}

.btn {
    padding: 0.5rem 2.5rem;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-family: "NaslervvilleSC-Regular.ttf";
}

.heading, .btn {
    margin-left: 30%;
}