
.navbar {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 20vh;
    background-color: black;
    color: white;
    border: 1px solid black;
    align-items: center;
    z-index: 10;
}

.headerText {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.secondHeader {
    margin-top: 0.3rem;
    padding: 0 1rem;
    font-size: 0.8rem;
}

hr {
    height: 1px;
    width: 10px;
}

.lastHeader {
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

.logo {
    width: 4%;
    max-width: 84px;
    margin-top: 1rem;
}

.routesList {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
}

.routesList li:not(:first-child){
    border-left: 1px solid white;
}

.routeItem {
    padding-left: 1rem;
}

.links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.socials {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.socialsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    z-index: 2;
}

.socialsImg {
    width: 100%;
}
